/* SECCION RESPONSIVE*/
@media screen and(max-width:800px) {
  .habilidades .contenido-seccion .fila {
    display: block;
  }
  .habilidades .contenido-seccion .fila .col {
    width: 100%;
    text-align: center;
  }
  .habilidades .contenido-seccionb.fila .coln.cont-barra {
    justify-content: center;
  }
  .sobremi .contenido-seccion .fila {
    display: block;
  }
  .sobremi .contenido-seccion .fila .col {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .resumen .contenido-seccion .info {
    display: block;
  }
  .resumen .contenido-seccion .info .col {
    width: 90%;
    margin: auto;
  }
  .resumen .contenido-seccion .info .col .titulo {
    display: block;
    text-align: center;
  }
  .resumen .contenido-seccion .info .col table {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contacto .contenido-seccion .fila {
    display: block;
  }
  .portfolio .fila {
    display: block;
  }
  .portfolio .fila .col {
    width: 50%;
    margin: auto;
  }
}
